$border-color = rgb(29,33,41)
$price-bg = rgba(253, 219, 185, 1)
$price-color = rgba(255, 87, 34, 1)
$btn-bg = rgba(0, 166, 147, 1)

.card-wrap
  display flex
  justify-content space-around
  align-items center
  box-sizing border-box
  height 320px
  width 1280px
  margin-bottom 24px
  border-radius: 4px
  border 1px solid $border-color

  .card-img
    height 320px
    width 560px
    border-radius: 4px

  .card-content
    width 720px
    height 320px
    padding 41px 48px

    .card-title
      line-height: 42px
      height: 42px
      font-size 32px
      font-weight 700

    .card-labels
      display flex
      align-items center
      justify-content flex-start
      margin-top 12px

      .goods-price
        background-color $price-bg
        color $price-color
        height 24px
        border-radius: 4px
        padding 0 10px
        font-size: 16px
        line-height: 24px
        text-align: center
        margin-right 8px
        cursor default

      .tag
        border-radius: 4px
        padding: 2px 8px
        border 1px solid rgba(0,0,0,0.1)
        background-color #fff
        margin-right 8px
        cursor pointer

    .card-desc
      margin-top 24px
      height 72px
      width 624px
      font-size: 14px;
      font-weight: 400;
      color: rgba(134, 144, 156, 1);
      white-space: wrap
      overflow: hidden
      text-overflow: ellipsis

    .card-btn-wrap
      display flex
      justify-content flex-end
      align-items center
      margin-top 24px

      .card-detail-btn
        outline none
        width 104px
        height 40px
        border-radius: 4px
        background-color: $btn-bg
        font-size: 16px
        font-weight 600
        color #fff
        box-shadow: 3px 3px 0px rgba(0,0,0,1)
        cursor pointer
        transition: all 0.3s ease-in-out

        &:hover
          box-shadow: none